<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title=${forumPost.title} + ' - ' + ${course.title} + ' | AlgoLMS')}"
    ></th:block>
  </head>
  <body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <div class="flex flex-col min-h-screen bg-gray-50 dark:bg-neutral-900">
      <th:block
        th:insert="~{fragments/sidebar-toggle :: sidebar-toggle}"
      ></th:block>
      <th:block th:insert="~{fragments/sidebar :: sidebar}"></th:block>
      <div class="w-full lg:ps-64">
        <div class="p-4 sm:p-7 space-y-4 sm:space-y-7">
          <div
            class="bg-white rounded-xl shadow p-4 dark:text-neutral-200 dark:bg-neutral-800"
          >
            <h2
              th:text="${forumPost.title}"
              class="text-2xl font-bold mb-4"
            ></h2>
            <div class="flex gap-3">
              <img
                th:if="${postUserProfile.profilePicture}"
                class="shrink-0 size-[38px] rounded-full"
                th:src="${postUserProfile.profilePicture}"
                alt="Avatar"
              />
              <div
                th:unless="${postUserProfile.profilePicture}"
                th:text="${#strings.substring(forumPost.user.fullName,0,1)}"
                class="shrink-0 size-[38px] rounded-full grid place-items-center text-lg text-gray-800 dark:text-neutral-200 bg-gray-100 dark:bg-neutral-700"
              ></div>
              <div>
                <p
                  class="font-semibold text-gray-800 dark:text-neutral-200"
                  th:text="${forumPost.user.fullName}"
                ></p>
                <p
                  class="mb-2 text-xs font-medium text-gray-500 dark:text-neutral-400"
                  th:text="${formatterPost}"
                ></p>
              </div>
            </div>

            <p th:text="${forumPost.content}" class="mb-2"></p>
            <a
              th:href="${'/courses/' + course.courseId + '/forum/' + forumPost.postId}"
              class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg bg-gray-100 dark:bg-neutral-700 dark:hover:bg-neutral-600 hover:text-neutral-200 border-gray-200 active:bg-white text-gray-800 shadow-sm disabled:opacity-50 disabled:pointer-events-none transition-colors focus:outline-none focus:bg-gray-100 active:dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-300 dark:focus:bg-neutral-700"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-reply shrink-0 size-4 mb-0.5"
              >
                <polyline points="9 17 4 12 9 7" />
                <path d="M20 18v-2a4 4 0 0 0-4-4H4" />
              </svg>
              Odgovori
            </a>
          </div>

          <div
            th:each="reply : ${postReplies}"
            class="bg-white rounded-xl shadow p-4 dark:text-neutral-200 dark:bg-neutral-800"
          >
            <div class="flex gap-3">
              <img
                th:if="${reply.userProfile.profilePicture}"
                class="shrink-0 size-[38px] rounded-full"
                th:src="${reply.userProfile.profilePicture}"
                alt="Avatar"
              />
              <div
                th:unless="${reply.userProfile.profilePicture}"
                th:text="${#strings.substring(reply.postReply.user.fullName,0,1)}"
                class="shrink-0 size-[38px] rounded-full grid place-items-center text-lg text-gray-800 dark:text-neutral-200 bg-gray-100 dark:bg-neutral-700"
              ></div>
              <div>
                <p
                  class="font-semibold text-gray-800 dark:text-neutral-200"
                  th:text="${reply.postReply.user.fullName}"
                ></p>
                <p
                  class="mb-2 text-xs font-medium text-gray-500 dark:text-neutral-400"
                  th:text="${reply.formattedTime}"
                ></p>
              </div>
            </div>

            <p th:utext="${reply.postReply.content}" class="mb-2"></p>
          </div>

          <!-- Textarea -->
          <form
            th:action="${'/courses/' + course.courseId + '/forum/' + forumPost.postId + '/reply'}"
            method="POST"
            class="fixed bottom-4 lg:bottom-7 lg:left-64 lg:right-0 lg:mx-7"
          >
            <input type="hidden" name="userId" th:value="${user.userId}" />
            <input type="hidden" name="postId" th:value="${forumPost.postId}" />
            <textarea
              id="hs-textarea-ex-1"
              name="content"
              class="p-4 pb-12 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
              placeholder="Unesite vaš odgovor ovdje..."
              autofocus
            ></textarea>

            <!-- Toolbar -->
            <div
              class="absolute bottom-px inset-x-px p-2 rounded-b-md bg-white dark:bg-neutral-900"
            >
              <div class="flex justify-between items-center">
                <!-- Button Group -->
                <div class="flex items-center">
                  <!-- Mic Button -->
                  <button
                    type="button"
                    class="inline-flex shrink-0 justify-center items-center size-8 rounded-lg text-gray-500 hover:bg-gray-100 focus:z-10 focus:outline-none focus:bg-gray-100 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                  >
                    <svg
                      class="shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                      <line x1="9" x2="15" y1="15" y2="9"></line>
                    </svg>
                  </button>
                  <!-- End Mic Button -->

                  <!-- Attach Button -->
                  <button
                    type="button"
                    class="inline-flex shrink-0 justify-center items-center size-8 rounded-lg text-gray-500 hover:bg-gray-100 focus:z-10 focus:outline-none focus:bg-gray-100 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                  >
                    <svg
                      class="shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="m21.44 11.05-9.19 9.19a6 6 0 0 1-8.49-8.49l8.57-8.57A4 4 0 1 1 18 8.84l-8.59 8.57a2 2 0 0 1-2.83-2.83l8.49-8.48"
                      ></path>
                    </svg>
                  </button>
                  <!-- End Attach Button -->
                </div>
                <!-- End Button Group -->

                <!-- Button Group -->
                <div class="flex items-center gap-x-1">
                  <!-- Mic Button -->
                  <button
                    type="button"
                    class="inline-flex shrink-0 justify-center items-center size-8 rounded-lg text-gray-500 hover:bg-gray-100 focus:z-10 focus:outline-none focus:bg-gray-100 dark:text-neutral-500 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                  >
                    <svg
                      class="shrink-0 size-4"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z"
                      ></path>
                      <path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
                      <line x1="12" x2="12" y1="19" y2="22"></line>
                    </svg>
                  </button>
                  <!-- End Mic Button -->

                  <!-- Send Button -->
                  <button
                    type="submit"
                    class="inline-flex shrink-0 justify-center items-center size-8 rounded-lg text-white bg-blue-600 hover:bg-blue-500 focus:z-10 focus:outline-none focus:bg-blue-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"
                      ></path>
                    </svg>
                  </button>
                  <!-- End Send Button -->
                </div>
                <!-- End Button Group -->
              </div>
            </div>
            <!-- End Toolbar -->
          </form>
          <!-- End Textarea -->
        </div>
      </div>
    </div>
    <script>
      (function () {
        function textareaAutoHeight(el, offsetTop = 0) {
          el.style.height = "auto";
          el.style.height = `${el.scrollHeight + offsetTop}px`;
        }

        (function () {
          const textareas = ["#hs-textarea-ex-1"];

          textareas.forEach((el) => {
            const textarea = document.querySelector(el);
            const overlay = textarea.closest(".hs-overlay");

            if (overlay) {
              const { element } = HSOverlay.getInstance(overlay, true);

              element.on("open", () => textareaAutoHeight(textarea, 3));
            } else textareaAutoHeight(textarea, 3);

            textarea.addEventListener("input", () => {
              textareaAutoHeight(textarea, 3);
            });
          });
        })();
      })();
    </script>
  </body>
</html>
