<!DOCTYPE html>
<html lang="en">
  <head th:insert="~{fragments/head :: head(title='Prijava | AlgoLMS')}"></head>
  <body>
    <div class="flex min-h-screen dark:bg-neutral-900 dark:text-neutral-200">
      <div class="bg-black p-10 text-white flex flex-col">
        <a href="/" class="font-semibold text-lg">AlgoLMS</a>
        <script
          type="module"
          src="https://unpkg.com/@splinetool/viewer@1.9.3/build/spline-viewer.js"
        ></script>
        <spline-viewer
          url="https://prod.spline.design/53zPWNyP1mVc5K7h/scene.splinecode"
        ></spline-viewer>
        <p class="mt-auto text-lg">
          “People expect to be bored by eLearning — let’s show them it doesn’t
          have to be like that!”<br /><span class="text-sm">Cammy Bean</span>
        </p>
      </div>
      <div class="flex-1 p-10" x-data="{ showLoginModal: false }" x-cloak>
        <th:block
          th:insert="~{fragments/successMessage :: successMessage}"
        ></th:block>
        <p
          class="text-sm font-semibold hover:cursor-pointer text-right"
          @click="showLoginModal = true"
        >
          Prijava
        </p>
        <div
          x-show="showLoginModal"
          @click.outside="showLoginModal = false"
          x-transition:enter="transition ease-out duration-300"
          x-transition:enter-start="opacity-0 transform scale-95"
          x-transition:enter-end="opacity-100 transform scale-100"
          x-transition:leave="transition ease-in duration-200"
          x-transition:leave-start="opacity-100 transform scale-100"
          x-transition:leave-end="opacity-0 transform scale-95"
          class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50"
        >
          <div
            class="bg-white p-6 rounded-lg shadow-lg w-96 relative dark:bg-neutral-900 dark:text-neutral-200"
          >
            <button
              @click="showLoginModal = false"
              class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
            >
              <svg
                class="w-5 h-5"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </button>
            <h1 class="text-2xl font-bold mb-4">Prijava</h1>
            <form action="/login" method="post">
              <input
                type="email"
                name="email"
                id="email"
                class="block w-full rounded-md border-0 mt-2 mb-4 shadow-sm py-2 pl-3 ring-1 ring-gray-300 placeholder:text-gray-400 text-sm leading-5"
                placeholder="Vaša e-mail adresa"
                autocomplete="email"
              />
              <input
                type="password"
                name="password"
                id="password"
                class="block w-full rounded-md border-0 mb-4 shadow-sm py-2 pl-3 ring-1 ring-gray-300 placeholder:text-gray-400 text-sm leading-5"
                placeholder="Vaša lozinka"
                autocomplete="current-password"
              />
              <button
                type="submit"
                class="w-full bg-gray-900 text-white rounded-md py-2 text-sm font-semibold hover:bg-gray-800 transition-colors"
              >
                Prijava
              </button>
            </form>
          </div>
        </div>
        <div class="flex flex-col justify-center items-center h-full">
          <h1 class="text-2xl font-bold">Stvorite račun</h1>
          <p class="text-sm text-center text-gray-500">
            Unesite svoju e-mail adresu kako biste kreirali svoj račun
          </p>
          <div>
            <form action="/register" method="post">
              <input
                type="text"
                name="email"
                id="email"
                class="block w-full rounded-md border-0 mt-6 mb-2 shadow-sm py-1.5 pl-2 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="name@example.com"
                required
                autocomplete="email"
              />
              <input type="submit" value="Registracija s e-mail adresom" />
            </form>
            <div class="flex items-center mt-6 w-full">
              <div class="border-t border-gray-300 flex-grow"></div>
              <div class="px-3 text-gray-500 text-xs uppercase">
                ili nastavite s
              </div>
              <div class="border-t border-gray-300 flex-grow"></div>
            </div>
            <form action="" method="post">
              <button
                type="submit"
                class="flex items-center justify-center gap-2 mt-6 rounded-md shadow-sm py-2 px-4 text-sm w-96 font-semibold ring-1 ring-inset ring-gray-300 hover:bg-gray-100 transition-colors"
              >
                <img
                  class="w-4 h-4"
                  src="https://www.svgrepo.com/show/475656/google-color.svg"
                  alt="Google Logo"
                />
                <span>Google</span>
              </button>
            </form>
          </div>
          <p class="text-sm mt-6 w-[40ch] text-gray-500 text-center">
            Klikom na nastavi prihvaćate naše
            <a
              href="/terms-and-conditions"
              class="underline hover:text-gray-700"
              >Uvjete pružanja usluge</a
            >
            i
            <a href="/privacy-policy" class="underline hover:text-gray-700"
              >Pravila privatnosti</a
            >.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
