<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block
      th:insert="~{fragments/head :: head(title='Postavite račun | AlgoLMS')}"
    ></th:block>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
  </head>
  <body>
    <div class="flex min-h-screen">
      <div class="bg-black p-10 text-white flex flex-col">
        <a href="/" class="font-semibold text-lg">AlgoLMS</a>
        <script
          type="module"
          src="https://unpkg.com/@splinetool/viewer@1.9.3/build/spline-viewer.js"
        ></script>
        <spline-viewer
          url="https://prod.spline.design/53zPWNyP1mVc5K7h/scene.splinecode"
        ></spline-viewer>
        <p class="mt-auto text-lg">
          “People expect to be bored by eLearning — let’s show them it doesn’t
          have to be like that!”<br /><span class="text-sm">Cammy Bean</span>
        </p>
      </div>
      <div class="flex-1 p-10 dark:bg-neutral-800 dark:text-neutral-200">
        <div class="flex justify-end">
          <a
            href="/"
            class="text-sm inline-flex items-center gap-1 font-semibold hover:cursor-pointer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4 mb-0.5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
              />
            </svg>
            Natrag na početnu
          </a>
        </div>

        <div class="flex flex-col justify-center items-center h-full">
          <h1 class="text-2xl font-bold">Dovršite postavljanje računa</h1>
          <p class="text-sm text-center text-gray-500">
            Nakon dovršetka postavljanja, omogućen vam je pristup platformi
            AlgoLMS
          </p>
          <div>
            <form action="/setup" method="POST">
              <input type="hidden" name="token" th:value="${token}" />
              <input
                type="text"
                name="fullName"
                id="fullName"
                class="block w-full rounded-md border-0 mt-6 mb-2 shadow-sm py-1.5 pl-2 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="Vaše puno ime"
                required
                autocomplete="name"
              />
              <div class="relative">
                <input
                  id="hs-toggle-password"
                  name="password"
                  type="password"
                  placeholder="Vaša lozinka"
                  class="block w-full rounded-md border-0 mt-6 mb-2 shadow-sm py-1.5 pl-2 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                />
                <button
                  type="button"
                  data-hs-toggle-password='{
                  "target": "#hs-toggle-password"
                }'
                  class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none focus:text-blue-600"
                >
                  <svg
                    class="shrink-0 size-3.5"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      class="hs-password-active:hidden"
                      d="M9.88 9.88a3 3 0 1 0 4.24 4.24"
                    ></path>
                    <path
                      class="hs-password-active:hidden"
                      d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
                    ></path>
                    <path
                      class="hs-password-active:hidden"
                      d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
                    ></path>
                    <line
                      class="hs-password-active:hidden"
                      x1="2"
                      x2="22"
                      y1="2"
                      y2="22"
                    ></line>
                    <path
                      class="hidden hs-password-active:block"
                      d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"
                    ></path>
                    <circle
                      class="hidden hs-password-active:block"
                      cx="12"
                      cy="12"
                      r="3"
                    ></circle>
                  </svg>
                </button>
              </div>
              <div class="relative">
                <input
                  id="hs-toggle-password2"
                  type="password"
                  placeholder="Potvrite lozinku"
                  class="block w-full rounded-md border-0 mt-6 mb-2 shadow-sm py-1.5 pl-2 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                />
                <button
                  type="button"
                  data-hs-toggle-password='{
                  "target": "#hs-toggle-password2"
                }'
                  class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none focus:text-blue-600"
                >
                  <svg
                    class="shrink-0 size-3.5"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      class="hs-password-active:hidden"
                      d="M9.88 9.88a3 3 0 1 0 4.24 4.24"
                    ></path>
                    <path
                      class="hs-password-active:hidden"
                      d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
                    ></path>
                    <path
                      class="hs-password-active:hidden"
                      d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
                    ></path>
                    <line
                      class="hs-password-active:hidden"
                      x1="2"
                      x2="22"
                      y1="2"
                      y2="22"
                    ></line>
                    <path
                      class="hidden hs-password-active:block"
                      d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"
                    ></path>
                    <circle
                      class="hidden hs-password-active:block"
                      cx="12"
                      cy="12"
                      r="3"
                    ></circle>
                  </svg>
                </button>
              </div>
              <input
                type="text"
                name="phone"
                id="phone"
                class="block w-full rounded-md border-0 mt-6 mb-2 shadow-sm py-1.5 pl-2 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="Vaš broj telefona (opcionalno)"
                autocomplete="mobile"
              />
              <div class="sm:col-span-9 mt-6 mb-2">
                <div class="sm:flex">
                  <label
                    for="af-account-gender-checkbox"
                    class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                  >
                    <input
                      type="radio"
                      name="gender"
                      class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                      id="af-account-gender-checkbox"
                      value="male"
                    />
                    <span
                      class="text-sm text-gray-500 ms-3 dark:text-neutral-400"
                      >Muško</span
                    >
                  </label>

                  <label
                    for="af-account-gender-checkbox-female"
                    class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                  >
                    <input
                      type="radio"
                      name="gender"
                      class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                      id="af-account-gender-checkbox-female"
                      value="female"
                    />
                    <span
                      class="text-sm text-gray-500 ms-3 dark:text-neutral-400"
                      >Žensko</span
                    >
                  </label>

                  <label
                    for="af-account-gender-checkbox-other"
                    class="flex py-2 px-3 w-full border border-gray-200 shadow-sm -mt-px -ms-px first:rounded-t-lg last:rounded-b-lg sm:first:rounded-s-lg sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-lg text-sm relative focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                  >
                    <input
                      type="radio"
                      name="gender"
                      class="shrink-0 mt-0.5 border-gray-300 rounded-full text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-500 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
                      id="af-account-gender-checkbox-other"
                      value="other"
                    />
                    <span
                      class="text-sm text-gray-500 ms-3 dark:text-neutral-400"
                      >Ostalo</span
                    >
                  </label>
                </div>
              </div>
              <textarea
                id="bio"
                name="bio"
                class="block w-full rounded-md border-0 mt-6 mb-2 shadow-sm py-1.5 pl-2 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                placeholder="O meni (opcionalno)"
                rows="3"
              ></textarea>
              <div
                id="hs-file-upload"
                data-hs-file-upload='{
                "url": "/upload",
                "extensions": {
                  "default": {
                    "class": "shrink-0 size-5"
                  },
                  "xls": {
                    "class": "shrink-0 size-5"
                  },
                  "zip": {
                    "class": "shrink-0 size-5"
                  },
                  "csv": {
                    "icon": "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M4 22h14a2 2 0 0 0 2-2V7l-5-5H6a2 2 0 0 0-2 2v4\"/><path d=\"M14 2v4a2 2 0 0 0 2 2h4\"/><path d=\"m5 12-3 3 3 3\"/><path d=\"m9 18 3-3-3-3\"/></svg>",
                    "class": "shrink-0 size-5"
                  }
                }
              }'
              >
                <template data-hs-file-upload-preview="">
                  <div
                    class="p-3 bg-white border border-solid border-gray-300 rounded-xl"
                  >
                    <div class="mb-2 flex justify-between items-center">
                      <div class="flex items-center gap-x-3">
                        <span
                          class="size-8 flex justify-center items-center border border-gray-200 text-gray-500 rounded-lg"
                          data-hs-file-upload-file-icon=""
                        >
                          <img class="rounded-lg hidden" data-dz-thumbnail="" />
                        </span>
                        <div>
                          <p class="text-sm font-medium text-gray-800">
                            <span
                              class="truncate inline-block max-w-[300px] align-bottom"
                              data-hs-file-upload-file-name=""
                            ></span
                            >.<span data-hs-file-upload-file-ext=""></span>
                          </p>
                          <p
                            class="text-xs text-gray-500"
                            data-hs-file-upload-file-size=""
                          ></p>
                        </div>
                      </div>
                      <div class="inline-flex items-center gap-x-2">
                        <button
                          type="button"
                          class="text-gray-500 hover:text-gray-800 focus:outline-none focus:text-gray-800"
                          data-hs-file-upload-remove=""
                        >
                          <svg
                            class="shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path d="M3 6h18"></path>
                            <path
                              d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"
                            ></path>
                            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                            <line x1="10" x2="10" y1="11" y2="17"></line>
                            <line x1="14" x2="14" y1="11" y2="17"></line>
                          </svg>
                        </button>
                      </div>
                    </div>

                    <div class="flex items-center gap-x-3 whitespace-nowrap">
                      <div
                        class="flex w-full h-2 bg-gray-200 rounded-full overflow-hidden"
                        role="progressbar"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        data-hs-file-upload-progress-bar=""
                      >
                        <div
                          class="flex flex-col justify-center rounded-full overflow-hidden bg-blue-600 text-xs text-white text-center whitespace-nowrap transition-all duration-500 hs-file-upload-complete:bg-green-600"
                          style="width: 0"
                          data-hs-file-upload-progress-bar-pane=""
                        ></div>
                      </div>
                      <div class="w-10 text-end">
                        <span class="text-sm text-gray-800">
                          <span data-hs-file-upload-progress-bar-value=""
                            >0</span
                          >%
                        </span>
                      </div>
                    </div>
                  </div>
                </template>

                <div
                  class="cursor-pointer p-12 flex justify-center bg-white border border-dashed border-gray-300 rounded-xl mt-6 mb-2"
                  data-hs-file-upload-trigger=""
                >
                  <div class="text-center">
                    <svg
                      class="w-16 text-gray-400 mx-auto"
                      width="70"
                      height="46"
                      viewBox="0 0 70 46"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6.05172 9.36853L17.2131 7.5083V41.3608L12.3018 42.3947C9.01306 43.0871 5.79705 40.9434 5.17081 37.6414L1.14319 16.4049C0.515988 13.0978 2.73148 9.92191 6.05172 9.36853Z"
                        fill="currentColor"
                        stroke="currentColor"
                        stroke-width="2"
                        class="fill-white stroke-gray-400"
                      ></path>
                      <path
                        d="M63.9483 9.36853L52.7869 7.5083V41.3608L57.6982 42.3947C60.9869 43.0871 64.203 40.9434 64.8292 37.6414L68.8568 16.4049C69.484 13.0978 67.2685 9.92191 63.9483 9.36853Z"
                        fill="currentColor"
                        stroke="currentColor"
                        stroke-width="2"
                        class="fill-white stroke-gray-400"
                      ></path>
                      <rect
                        x="17.0656"
                        y="1.62305"
                        width="35.8689"
                        height="42.7541"
                        rx="5"
                        fill="currentColor"
                        stroke="currentColor"
                        stroke-width="2"
                        class="fill-white stroke-gray-400"
                      ></rect>
                      <path
                        d="M47.9344 44.3772H22.0655C19.3041 44.3772 17.0656 42.1386 17.0656 39.3772L17.0656 35.9161L29.4724 22.7682L38.9825 33.7121C39.7832 34.6335 41.2154 34.629 42.0102 33.7025L47.2456 27.5996L52.9344 33.7209V39.3772C52.9344 42.1386 50.6958 44.3772 47.9344 44.3772Z"
                        stroke="currentColor"
                        stroke-width="2"
                        class="stroke-gray-400"
                      ></path>
                      <circle
                        cx="39.5902"
                        cy="14.9672"
                        r="4.16393"
                        stroke="currentColor"
                        stroke-width="2"
                        class="stroke-gray-400"
                      ></circle>
                    </svg>

                    <div
                      class="mt-4 flex flex-wrap justify-center text-sm leading-6 text-gray-600"
                    >
                      <span class="pe-1 font-medium text-gray-800">
                        Prenesite svoju profilnu sliku ovdje ili
                      </span>
                      <span
                        class="bg-white font-semibold text-blue-600 hover:text-blue-700 rounded-lg decoration-2 hover:underline focus-within:outline-none focus-within:ring-2 focus-within:ring-blue-600 focus-within:ring-offset-2"
                        >pretražite</span
                      >
                    </div>

                    <p class="mt-1 text-xs text-gray-400">
                      Odaberite sliku do 2 MB.
                    </p>
                  </div>
                </div>

                <div
                  class="mt-4 space-y-3 empty:mt-0"
                  data-hs-file-upload-previews=""
                ></div>
              </div>
              <input type="submit" value="Dovršite registraciju" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
